@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using api_data_bd.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "API Documentation";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<style>
    .font-title {
        font-weight: 900;
        font-size: 6.5vh;
    }
</style>
<header class="help-page">
    <div class="container">
        <div class="text-center py-4 ">
            <h1 class="font-title">@ViewBag.Title</h1>
        </div>
    </div>
</header>



<section class="mb-5">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-block ">
                <div class="text-center">
                    <h3>Introduction</h3>
                </div>
                <div class="text-center">
                    Here is the all documentation of web api . You can use this api for free.
                </div>
            </div>

        </div>
    </div>
</section>


<section class="content-wrapper main-content clear-fix">
    <div class="container"  id="fixToTop">
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark " style="opacity:0.6">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars text-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    @foreach (var group in apiGroups)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#@group.Key.ControllerName">@group.Key.ControllerName</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

    </div>
    <script>
        var fixmeTop = $('#fixToTop').offset().top;
        $(window).scroll(function () {
            var currentScroll = $(window).scrollTop();
            console.log(currentScroll);
            if (currentScroll >= fixmeTop) {
                $('#fixToTop').addClass("fixed-top")
            } else {
                $('#fixToTop').removeClass("fixed-top")
            }
        });
    </script>
</section>

<section class="content-wrapper main-content clear-fix">
    <div class="container">
        @foreach (var group in apiGroups)
        {
        <section id="@group.Key.ControllerName">
            <div class="container-fluid p-0 m-0">
                @Html.DisplayFor(m => group, "ApiGroup")
            </div>
        </section>
        }

    </div>
</section>

