/*body::after {
    padding-bottom: 20px;
    background-image: url("/image/backgroundImage.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}*/

body::after {
    content: "";
   /* background: url("/image/backgroundImage.jpeg");*/
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}


.h2-content {
    font-size: 40px;
    color: #630505;
}

.h3-content {
    text-align: center;
}

.cardss {
    background-color: rgba(120, 193, 155, 0.77);
    border-radius: 15px;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 40px;
    transition: transform .2s;
}




    .card:hover {
        transform: scale(1.1);
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
