body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:10px;
    background-image: url('~\image\backgroundImage.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.h2-content {
    font-size: 40px;
    color:#630505;
}

.h3-content {
    text-align: center;
}

.card {
    background-color: rgba(120, 193, 155, 0.77);
    border-radius:15px;
    border:1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    margin-bottom:40px;
    
}

.card-text{
    color:black;
    margin-bottom:40px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
